@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: 'Montserrat', sans-serif;

  &:focus {
    outline: 0;
  }
}
html,
body {
  height: 100%;
}
body {
  padding: 50px;
  //background: linear-gradient(to bottom right, #ff8be0, #ffe364);
  background: #eef0f7;
}
.component {
  background: #fff;
  box-shadow: 0 32px 23px -25px rgba($color: #465da9, $alpha: 0.13);
  border-radius: 10px;
  h4 {
    font-size: 24px;
    color: #1a2250;
    font-weight: 600;
    margin-bottom: 40px;
  }
  .action {
    display: inline-flex;
    align-items: center;
    a {
      color: #6189ff;
      font-size: 20px;
      font-weight: 600;
      background: url(../img/icon-right-arrow.svg) no-repeat right;
      padding-right: 30px;

      &.btn {
        padding: 0 70px;
        height: 78px;
        display: flex;
        align-items: center;
        background: linear-gradient(to bottom right, #8bcdff, #6487ff);
        border-radius: 78px;
        color: #fff;
        margin-right: 40px;
        box-shadow: 0 20px 25px -15px rgba(#6c9df3, 0.6);
      }
    }
  }

  &-web1 {
    margin-bottom: 50px;
    padding: 65px 65px 45px;

    ul {
      display: flex;
      margin: 0 -16px;
      li {
        margin-right: 20px;
        a {
          display: block;
          padding: 20px 40px 20px 40px;
          font-size: 20px;
          font-weight: 500;
          color: #5f85ff;
          line-height: 31px;
          position: relative;
          transition: 300ms background, 300ms color;
          border-radius: 12px;
          background: url(../img/icon-right-arrow.svg) no-repeat right;
          &::before {
            content: '';
            width: 4px;
            background: linear-gradient(to bottom, #8bcdff, #6487ff);
            top: 20px;
            left: 20px;
            position: absolute;
            bottom: 20px;
            border-radius: 2px;
          }
          &:hover {
            background-color: #f6f8ff;
            background-image: url(../img/icon-right-arrow-hover.svg) no-repeat
              right;
            color: #1a2250;
          }
        }
      }
    }
  }
  &-web2 {
    background: #fff;
    padding: 66px 75px;
    max-width: 620px;
    text-align: center;
    margin-bottom: 50px;
    p {
      font-size: 20px;
      color: #1a2250;
      margin-top: -15px;
      font-weight: 500;
      line-height: 31px;
      margin-bottom: 50px;
    }
  }
  &-web3 {
    max-width: 685px;
    padding: 65px;
    h2 {
      font-size: 34px;
      color: #1a2250;
      font-weight: 600;
      margin-bottom: 40px;
    }
    p {
      font-size: 24px;
      color: #1a2250;
      font-weight: 500;
      margin-bottom: 40px;
      line-height: 36px;
    }
  }
}
