@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@import 'icon-font';

:root {
  --color: #006699;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

  &:focus {
    outline: 0;
  }
}

body {
  background-color: #f5f6f8;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.header {
  background-color: #fff;
  margin-bottom: 16px;
  .container {
    height: 56px;
    display: flex;
    align-items: center;
    .search {
      position: relative;
      margin-left: 18px;
      i {
        position: absolute;
        top: 0;
        left: 0;
        height: 32px;
        width: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #aaaaaa;
      }
      input {
        height: 32px;
        width: 100%;
        border-radius: 4px;
        background-color: rgba($color: #dedede, $alpha: 0.32);
        font-size: 14px;
        padding: 0 15px 0 44px;
        &::placeholder {
          color: #aaaaaa;
        }
      }
    }
    .menu {
      margin: 0 auto;
      ul {
        display: flex;
        li {
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #aaaaaa;
            margin: 0 14px;
            span {
              display: none;
            }
            &:hover {
              color: var(--color);
            }
          }
          &.active {
            a {
              color: var(--color);
              i {
                margin-right: 5px;
              }
              span {
                display: block;
              }
            }
          }
          i {
            font-size: 20px;
          }
        }
      }
    }
    .user-menu {
      > a {
        display: flex;
        align-items: center;
        .detail {
          display: flex;
          flex-direction: column;
          text-align: right;
          margin-right: 6px;
          .name {
            font-size: 12px;
            color: #17272f;
          }
          .status {
            font-size: 10px;
            &.online {
              color: #31b057;
            }
            &.offline {
              color: #b03131;
            }
          }
        }
        img {
          width: 24px;
          height: 24px;
          min-width: 24px;
          border-radius: 50%;
          object-fit: cover;
        }
        i {
          color: #a7b4cc;
          font-size: 12px;
          margin-left: 5px;
        }
      }
    }
  }
}
main{
  .container{
    display: flex;
    .sidebar{
      min-width: 270px;
      width: 270px;
    }
    .content{
      flex: 1;
      margin: 0 30px;
    }
  }
}

      .widget-stats {
        padding: 8px;

        .stat-user {
          text-align: center;
          padding-bottom: 16px;
          margin-bottom: 16px;
          border-bottom: 1px solid #edf0f5;
          .cover {
            height: 43px;
            background-size: cover;
            background: url(../img/cover-bg.png) no-repeat center center;
            border-radius: 4px;
          }
          .avatar {
            text-align: center;
            margin-top: -26px;
            margin-bottom: 10px;

            img {
              display: block;
              width: 52px;
              height: 52px;
              border-radius: 50%;
              margin: 0 auto;
              border: 2px solid#fff;
            }
          }
          .name {
            font-size: 16px;
            font-weight: 500;
            color: #17272f;
            text-align: center;
          }
          .job-title {
            font-size: 14px;
            color: #aaa;
            margin-top: 4px;
          }
        }
        ul {
          padding: 0 7px;
          li {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            .key {
              color: #17272f;
            }
            .value {
              color: var(--color);
              font-weight: 500;
            }
            &:not(:nth-last-child) {
              margin-bottom: 16px;
            }
          }
        }
        .content {
          flex: 1;
          margin: 0 30px;
        }
      }
      .widget-newest {
        h6 {
          font-size: 14px;
          font-weight: 500;
          color: #17272f;
          padding-bottom: 8px;
          border-bottom: 1px solid#edf0f5;
          margin-bottom: 12px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .dropdown {
            a {
              display: flex;
              align-items: center;
              font-size: 14px;
              color: #31b057;
              font-weight: normal;
              i {
                color: #aaa;
                font-size: 10px;
                margin-left: 5px;
              }
            }
          }
        }
        ul {
          padding-bottom: 30px;
          &:last-child {
            padding-bottom: 0;
          }
          li {
            a {
              display: flex;
              align-items: center;
              font-size: 12px;
              color: var(--color);
              padding: 4px 0;
              &:hover {
                color: #222;
              }
              i {
                width: 21px;
                font-size: 11px;
                &.icon-hash {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
      .widget-btn {
        border-radius: 6px;
        height: 50px;
        padding: 0 15px;
        align-items: center;
        justify-content: space-between;
        display: flex;
        color: #17272f;
        i {
          color: var(--color);
        }
        &:hover {
          background-color: var(--color);
          color: #fff;
          i {
            color: rgba(#fff, 0.5);
          }
        }
        &.more {
          height: 56px;
          justify-content: center;
          font-size: 14px;
          font-weight: 500;
          color: var(--color);
          background-color: #fff;
          transition: 300ms background-color, 300ms color;
          &:hover {
            background-color: var(--color);
            color: #fff;
          }
        }
      }
      .widget-recomment {
        ul {
          li {
            display: flex;
            a:first-child {
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }
}
